[submodule "bs-hefa-designer-store"]
	path = bs-hefa-designer-store
	url = git@github.com:abuabdirohman4/bs-hefa-designer-store.git
	branch = main
[submodule "bs-sinaw-online-course"]
	path = bs-sinaw-online-course
	url = git@github.com:abuabdirohman4/bs-sinaw-online-course.git
	branch = develop
[submodule "bs-kaula-nft"]
	path = bs-kaula-nft
	url = git@github.com:abuabdirohman4/bs-kaula-nft.git
	branch = master
[submodule "bs-carousel-card"]
	path = bs-carousel-card
	url = git@github.com:abuabdirohman4/bs-carousel-card
	branch = master